name: Validate

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate JSON syntax
        run: for file in `ls | grep '.json' `; do  python -mjson.tool "$file" > /dev/null ; done
      - name: Validate index entries & localization values
        run: python3 .github/scripts/validate.py
